<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.cleanhdmi"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <!-- Sony Camera Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.sony.scalar.provider.permission.ACCESS_CONTROLLERS" />
    <uses-permission android:name="com.sony.scalar.provider.permission.ACCESS_MEDIA" />
    
    <application
        android:label="Clean HDMI"
        android:icon="@drawable/icon">
        
        <activity
            android:name=".MainActivity"
            android:label="Clean HDMI"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
